*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
gsjson.b64


/.idea/
*.iml
/local.properties
/build/
**/build/
/app/google-services.json
*.apk

/.idea/
*.iml
/local.properties
/build/
**/build/
/app/google-services.json
*.apk
